.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.6em;
  font-size: var(--_size);
  border: 0.2em solid hsl(var(--muted) / 0.8);
  padding: 0.6em;
  border-radius: calc(var(--_radius) * 2);
  margin-top: 20px;
}
.titleImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addConPrice {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  margin-top: 1rem;
  font-style: italic;
  font-size: 10px;
}

.taskGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  --taskgroup-gap: 0.5em;
  gap: var(--taskgroup-gap);
  margin: auto;
}

.taskButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  --taskgroup-gap: 0.5em;
  gap: var(--taskgroup-gap);
}

.label {
  position: relative;
  cursor: pointer;
  text-align: left;
  line-height: 1.4;
}

.gameImgDiv {
  margin: auto;
}

.delete {
  --accent: var(--accent1);
}

.loading {
  color: hsl(var(--accent));
  font-size: var(--_size);
  font-weight: bold;
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

.error {
  color: hsl(var(--accent1));
  font-size: var(--_size);
  text-align: center;
}
